<!-- Layout reference moved to ViewStart -->

@model Customer
<form asp-controller="HomePage" asp-action="Edit" asp-anti-forgery="true">
    <input type="hidden" value="@Model.Id" />
    <label asp-for="FirstName"></label><input asp-for="FirstName">
    <label asp-for="LastName"></label><input asp-for="LastName">
    <label asp-for="Email"></label><input asp-for="Email">
    <button type="submit">Save</button>
</form>
